

ARCHS = $(ARCHS_UNIVERSAL_IPHONE_OS)

SDKROOT = iphoneos

GCC_VERSION = com.apple.compilers.llvmgcc42

IPHONEOS_DEPLOYMENT_TARGET = 4.3

ALWAYS_SEARCH_USER_PATHS = NO

TARGETED_DEVICE_FAMILY = 1,2

LD_NO_PIE = YES

PRODUCT_NAME = pocodeApp

INFOPLIST_FILE = platform/pocodeCustom-Info.plist

OTHER_LDFLAGS = /pocode/libraries/pocode/libpocode_iOS.a /pocode/libraries/pocode/libpocode_ios_simulator.a $(THE_FRAMEWORKS)

HEADER_SEARCH_PATHS = /pocode/libraries/pugixml /pocode/libraries/Boost/boost_1_45_0 /pocode/libraries/FreeImage /pocode/libraries/FreeType /pocode/libraries/utf8 /pocode/libraries/libMikko /pocode/libraries

USER_HEADER_SEARCH_PATHS = /pocode/libraries/pocode/include

GCC_THUMB_SUPPORT = YES

GCC_SYMBOLS_PRIVATE_EXTERN = YES

THE_FRAMEWORKS = -framework MediaPlayer -framework OpenGLES -framework QuartzCore -framework CoreGraphics -framework Foundation -framework UIKit -framework CoreText


