#Staging (build) dirs for libs
staging/

# Compiled Source #
*.com
*.class
*.o
*.so
*.obj

# Xcode Noise
*~.nib
*.pbxuser
*.perspective
*.perspectivev3
*.mode1v3
*.mode2v3
*.xcworkspace
xcuserdata/
build/
projects/

# Visual Studio

# OSX Noise
.DS_Store
profile

# SVN Noise
.svn

#OS junk files
[Tt]humbs.db
*.DS_Store

#Visual Studio files
*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
ipch/
obj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/

#Project files
[Bb]uild/



# other
