//
//  Debug.xcconfig
//  SMCApp
//
//  Created by Steve Varga on 8/23/12.
//  Copyright (c) 2012 Potion Design. All rights reserved.
//

ARCHS = $(ARCHS_STANDARD_32_BIT)
VALID_ARCHS = armv7 i386

SDKROOT = iphoneos

GCC_VERSION = com.apple.compilers.llvm.clang.1_0
GCC_KEEP_PRIVATE_EXTERNS        = YES
GCC_SYMBOLS_PRIVATE_EXTERN      = YES
GCC_THUMB_SUPPORT               = NO
GCC_SYMBOLS_PRIVATE_EXTERN      = YES
GCC_PRECOMPILE_PREFIX_HEADER    = YES
GCC_PREFIX_HEADER               = platform/main.pch
GCC_OPTIMIZATION_LEVEL          = 0

IPHONEOS_DEPLOYMENT_TARGET  = 5.1
ALWAYS_SEARCH_USER_PATHS    = NO
TARGETED_DEVICE_FAMILY      = 1,2

LD_NO_PIE = YES

PRODUCT_NAME = pocodeApp

INFOPLIST_FILE = platform/pocodeCustom-Info.plist

OTHER_LDFLAGS = $(SIMULATOR) $(DEVICE) $(THE_FRAMEWORKS)
HEADER_SEARCH_PATHS = $(POTION)/include $(PUGIXML) $(BOOST) $(FREEIMAGE) $(FREETYPE) $(UTF8) $(JSON) $(LIBRARIES)
LIBRARY_SEARCH_PATHS = /pocode/libraries/libcurl

LIBRARIES			= /pocode/libraries
POTION				= $(LIBRARIES)/pocode
BOOST				= $(LIBRARIES)/Boost/boost_1_49_0
FREEIMAGE			= $(LIBRARIES)/FreeImage
TINYXPATH			= $(LIBRARIES)/TinyXPath
FREETYPE			= $(LIBRARIES)/FreeType
UTF8				= $(LIBRARIES)/utf8
PUGIXML				= $(LIBRARIES)/pugixml
JSON                = $(LIBRARIES)/jsoncpp/json
SIMULATOR           = $(POTION)/libpocode_iOS_d.a
DEVICE              = $(POTION)/libpocode_iOS_simulator_d.a
THE_FRAMEWORKS      = -framework MediaPlayer -framework OpenGLES -framework QuartzCore -framework CoreGraphics -framework Foundation -framework UIKit -framework CoreText