<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>A basic iOS Project Template.</string>
	<key>Identifier</key>
	<string>minimalProjectTemplateiPad</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Definitions</key>
	<dict>
		<key>../platform/AppDelegate.h</key>
		<dict>
			<key>Group</key>
			<string>platform</string>
			<key>Path</key>
			<string>AppDelegate.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>../platform/AppDelegate.mm</key>
		<dict>
			<key>Group</key>
			<string>platform</string>
			<key>Path</key>
			<string>AppDelegate.mm</string>
		</dict>
		<key>../platform/Debug.xcconfig</key>
		<dict>
			<key>Group</key>
			<string>platform</string>
			<key>Path</key>
			<string>Debug.xcconfig</string>
		</dict>
		<key>../platform/Release.xcconfig</key>
		<dict>
			<key>Group</key>
			<string>platform</string>
			<key>Path</key>
			<string>Debug.xcconfig</string>
		</dict>
		<key>../platform/main.m</key>
		<dict>
			<key>Group</key>
			<string>platform</string>
			<key>Path</key>
			<string>main.m</string>
		</dict>
		<key>../platform/EAGLView.h</key>
		<dict>
			<key>Group</key>
			<string>platform</string>
			<key>Path</key>
			<string>EAGLView.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>../platform/EAGLView.mm</key>
		<dict>
			<key>Group</key>
			<string>platform</string>
			<key>Path</key>
			<string>EAGLView.mm</string>
		</dict>
		<key>../platform/potionCodeViewController.h</key>
		<dict>
			<key>Group</key>
			<string>platform</string>
			<key>Path</key>
			<string>potionCodeViewController.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>../platform/potionCodeViewController.mm</key>
		<dict>
			<key>Group</key>
			<string>platform</string>
			<key>Path</key>
			<string>potionCodeViewController.mm</string>
		</dict>
		<key>../platform/libbz2.1.0.dylib</key>
		<dict>
			<key>Group</key>
			<string>platform</string>
			<key>Path</key>
			<string>libbz2.1.0.dylib</string>
		</dict>
		<key>../platform/MainWindow.xib</key>
		<dict>
			<key>Group</key>
			<string>platform</string>
			<key>Path</key>
			<string>MainWindow.xib</string>
		</dict>
		<key>../platform/pocodeCustom-Info.plist</key>
		<dict>
			<key>Group</key>
			<string>platform</string>
			<key>Path</key>
			<string>pocodeCustom-Info.plist</string>
		</dict>
		<key>___PROJECTNAMEASIDENTIFIER___App.cpp</key>
		<dict>
			<key>Group</key>
			<string>application</string>
			<key>Path</key>
			<string>___PROJECTNAMEASIDENTIFIER___App.cpp</string>
		</dict>
		<key>___PROJECTNAMEASIDENTIFIER___App.h</key>
		<dict>
			<key>Group</key>
			<string>application</string>
			<key>Path</key>
			<string>___PROJECTNAMEASIDENTIFIER___App.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>AppConfig.cpp</key>
		<dict>
			<key>Group</key>
			<string>application</string>
			<key>Path</key>
			<string>AppConfig.cpp</string>
		</dict>
		<key>../Default-Landscape.png</key>
		<dict>
			<key>Group</key>
			<string>launchImages</string>
			<key>Path</key>
			<string>Default-Landscape.png</string>
		</dict>
		<key>../Default-Portrait.png</key>
		<dict>
			<key>Group</key>
			<string>launchImages</string>
			<key>Path</key>
			<string>Default-Portrait.png</string>
		</dict>
		<key>../Default@2x~iphone.png</key>
		<dict>
			<key>Group</key>
			<string>launchImages</string>
			<key>Path</key>
			<string>Default@2x~iphone.png</string>
		</dict>
		<key>../Default~iphone.png</key>
		<dict>
			<key>Group</key>
			<string>launchImages</string>
			<key>Path</key>
			<string>Default~iphone.png</string>
		</dict>
		<key>../DefaultiphoneLandscapeRight.png</key>
		<dict>
			<key>Group</key>
			<string>launchImages</string>
			<key>Path</key>
			<string>DefaultiphoneLandscapeRight.png</string>
		</dict>
		<key>../DefaultiphoneLandscapeRight@2x.png</key>
		<dict>
			<key>Group</key>
			<string>launchImages</string>
			<key>Path</key>
			<string>DefaultiphoneLandscapeRight@2x.png</string>
		</dict>
		<key>../Icon.png</key>
		<dict>
			<key>Group</key>
			<string>icons</string>
			<key>Path</key>
			<string>Icon.png</string>
		</dict>
		<key>../Icon@2x.png</key>
		<dict>
			<key>Group</key>
			<string>icons</string>
			<key>Path</key>
			<string>Icon@2x.png</string>
		</dict>
		<key>../Icon-72.png</key>
		<dict>
			<key>Group</key>
			<string>icons</string>
			<key>Path</key>
			<string>Icon-72.png</string>
		</dict>
		<key>../Icon-72@2x.png</key>
		<dict>
			<key>Group</key>
			<string>icons</string>
			<key>Path</key>
			<string>Icon-72@2x.png</string>
		</dict>
	</dict>
	<key>Nodes</key>
	<array>
		<string>../platform/Debug.xcconfig</string>
		<string>../platform/Release.xcconfig</string>
		<string>../platform/AppDelegate.h</string>
		<string>../platform/AppDelegate.mm</string>
		<string>../platform/main.m</string>
		<string>../platform/EAGLView.h</string>
		<string>../platform/EAGLView.mm</string>
		<string>../platform/potionCodeViewController.h</string>
		<string>../platform/potionCodeViewController.mm</string>
		<string>../platform/libbz2.1.0.dylib</string>
		<string>../platform/MainWindow.xib</string>
		<string>../platform/pocodeCustom-Info.plist</string>
		<string>___PROJECTNAMEASIDENTIFIER___App.h</string>
		<string>___PROJECTNAMEASIDENTIFIER___App.cpp</string>
		<string>AppConfig.cpp</string>
		<string>../Default-Landscape.png</string>
		<string>../Default-Portrait.png</string>
		<string>../Default@2x~iphone.png</string>
		<string>../Default~iphone.png</string>
		<string>../DefaultiphoneLandscapeRight.png</string>
		<string>../DefaultiphoneLandscapeRight@2x.png</string>
		<string>../Icon.png</string>
		<string>../Icon@2x.png</string>
		<string>../Icon-72.png</string>
		<string>../Icon-72@2x.png</string>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Description</key>
			<string>Your new product&apos;s name.</string>
			<key>EmptyReplacement</key>
			<string>ProductName</string>
			<key>Identifier</key>
			<string>productName</string>
			<key>Name</key>
			<string>Product Name</string>
			<key>NotPersisted</key>
			<true/>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>Your company&apos;s bundle identifier prefix.</string>
			<key>EmptyReplacement</key>
			<string>com.yourcompany</string>
			<key>Identifier</key>
			<string>bundleIdentifierPrefix</string>
			<key>Name</key>
			<string>Company Identifier</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_bundleIdentifierPrefix:bundleIdentifier___.___VARIABLE_productName:RFC1034Identifier___</string>
			<key>Description</key>
			<string>Your new product&apos;s bundle identifier.</string>
			<key>Identifier</key>
			<string>bundleIdentifier</string>
			<key>Name</key>
			<string>Bundle Identifier</string>
			<key>Type</key>
			<string>static</string>
		</dict>
	</array>
	<key>Project</key>
	<dict>
		<key>BasedOn</key>
		<dict>
			<key>Debug</key>
			<string>../platform/Debug.xcconfig</string>
			<key>Release</key>
			<string>../platform/Release.xcconfig</string>
		</dict>
		<key>Configurations</key>
		<dict>
			<key>Debug</key>
			<dict/>
			<key>Release</key>
			<dict/>
		</dict>
	</dict>
	<key>Targets</key>
	<array>
		<dict>
			<key>BuildPhases</key>
			<array>
				<dict>
					<key>Class</key>
					<string>Sources</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>Frameworks</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>Resources</string>
				</dict>
			</array>
			<key>Name</key>
			<string>___PACKAGENAME___</string>
			<key>ProductType</key>
			<string>com.apple.product-type.application</string>
		</dict>
	</array>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
</dict>
</plist>
