ARCHS				= i386
ONLY_ACTIVE_ARCH	= YES
SDKROOT				= macosx
DEBUG_INFORMATION_FORMAT = dwarf
COPY_PHASE_STRIP	= NO
MACOSX_DEPLOYMENT_TARGET = 10.6
LIBRARY_SEARCH_PATHS= $(POTION)
OTHER_LDFLAGS		= $(LIBRARIES_CMD) $(FRAMEWORKS_CMD)
INFOPLIST_FILE		= platform/main.plist
PRODUCT_NAME		= $(TARGET_NAME)
ALWAYS_SEARCH_USER_PATHS = NO
HEADER_SEARCH_PATHS	= $(POTION)/include $(BOOST) $(FREEIMAGE) $(TINYXPATH) $(FREETYPE) $(UTF8) $(MIKKO) $(BZ2) $(PUGIXML) $(LIBRARIES)
USER_HEADER_SEARCH_PATHS = $(POTION)

GCC_PREPROCESSOR_DEFINITIONS = $(inherited) DEBUG
GCC_OPTIMIZATION_LEVEL = 0
GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PREFIX_HEADER	= platform/main.pch
GCC_WARN_CHECK_SWITCH_STATEMENTS = NO

LIBRARIES			= /pocode/libraries
POTION				= $(LIBRARIES)/pocode
BOOST				= $(LIBRARIES)/Boost/boost_1_49_0
FREEIMAGE			= $(LIBRARIES)/FreeImage
TINYXPATH			= $(LIBRARIES)/TinyXPath
FREETYPE			= $(LIBRARIES)/FreeType
UTF8				= $(LIBRARIES)/utf8
PUGIXML				= $(LIBRARIES)/pugixml
LIBRARIES_CMD		= -lpocode_d
FRAMEWORKS_CMD		= -framework Cocoa -framework ApplicationServices -framework OpenGL -framework CoreVideo -framework QTKit