<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Concrete</key>
	<true/>
	<key>Definitions</key>
	<dict>
		<key>../platform/AppDelegate.h</key>
		<dict>
			<key>Group</key>
			<string>platform</string>
			<key>Path</key>
			<string>AppDelegate.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>../platform/AppDelegate.mm</key>
		<dict>
			<key>Group</key>
			<string>platform</string>
			<key>Path</key>
			<string>AppDelegate.mm</string>
		</dict>
		<key>../platform/Debug.xcconfig</key>
		<dict>
			<key>Group</key>
			<string>platform</string>
			<key>Path</key>
			<string>Debug.xcconfig</string>
		</dict>
		<key>../platform/en.strings</key>
		<dict>
			<key>Group</key>
			<string>platform</string>
			<key>Path</key>
			<string>en.strings</string>
		</dict>
		<key>../platform/main.m</key>
		<dict>
			<key>Group</key>
			<string>platform</string>
			<key>Path</key>
			<string>main.m</string>
		</dict>
		<key>../platform/main.pch</key>
		<dict>
			<key>Group</key>
			<string>platform</string>
			<key>Path</key>
			<string>main.pch</string>
		</dict>
		<key>../platform/main.plist</key>
		<dict>
			<key>Group</key>
			<string>platform</string>
			<key>Path</key>
			<string>main.plist</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>../platform/main.xib</key>
		<dict>
			<key>Group</key>
			<string>platform</string>
			<key>Path</key>
			<string>main.xib</string>
		</dict>
		<key>../platform/poOpenGLView.h</key>
		<dict>
			<key>Group</key>
			<string>platform</string>
			<key>Path</key>
			<string>poOpenGLView.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>../platform/poOpenGLView.mm</key>
		<dict>
			<key>Group</key>
			<string>platform</string>
			<key>Path</key>
			<string>poOpenGLView.mm</string>
		</dict>
		<key>../platform/Release.xcconfig</key>
		<dict>
			<key>Group</key>
			<string>platform</string>
			<key>Path</key>
			<string>Release.xcconfig</string>
		</dict>
		<key>___PROJECTNAMEASIDENTIFIER___App.cpp</key>
		<dict>
			<key>Group</key>
			<string>application</string>
			<key>Path</key>
			<string>___PROJECTNAMEASIDENTIFIER___App.cpp</string>
		</dict>
		<key>___PROJECTNAMEASIDENTIFIER___App.h</key>
		<dict>
			<key>Group</key>
			<string>application</string>
			<key>Path</key>
			<string>___PROJECTNAMEASIDENTIFIER___App.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>AppConfig.cpp</key>
		<dict>
			<key>Group</key>
			<string>application</string>
			<key>Path</key>
			<string>AppConfig.cpp</string>
		</dict>
		<key>TEST</key>
		<dict>
			<key>Beginning</key>
			<string>HELLO</string>
			<key>End</key>
			<string>WORLD</string>
			<key>PathType</key>
			<string>Project</string>
		</dict>
		<key>../platform/OpenSans-Regular.ttf</key>
		<dict>
			<key>Group</key>
			<string>platform</string>
			<key>Path</key>
			<string>OpenSans-Regular.ttf</string>
		</dict>
	</dict>
	<key>Identifier</key>
	<string>com.potiondesign.project</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Nodes</key>
	<array>
		<string>../platform/Debug.xcconfig</string>
		<string>../platform/Release.xcconfig</string>
		<string>../platform/AppDelegate.h</string>
		<string>../platform/AppDelegate.mm</string>
		<string>../platform/en.strings</string>
		<string>../platform/main.m</string>
		<string>../platform/main.pch</string>
		<string>../platform/main.plist</string>
		<string>../platform/main.xib</string>
		<string>../platform/poOpenGLView.h</string>
		<string>../platform/poOpenGLView.mm</string>
		<string>___PROJECTNAMEASIDENTIFIER___App.h</string>
		<string>___PROJECTNAMEASIDENTIFIER___App.cpp</string>
		<string>AppConfig.cpp</string>
		<string>../platform/OpenSans-Regular.ttf</string>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Description</key>
			<string>Your new product&apos;s name.</string>
			<key>EmptyReplacement</key>
			<string>ProductName</string>
			<key>Identifier</key>
			<string>productName</string>
			<key>Name</key>
			<string>Product Name</string>
			<key>NotPersisted</key>
			<true/>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>Your company&apos;s bundle identifier prefix.</string>
			<key>EmptyReplacement</key>
			<string>com.yourcompany</string>
			<key>Identifier</key>
			<string>bundleIdentifierPrefix</string>
			<key>Name</key>
			<string>Company Identifier</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_bundleIdentifierPrefix:bundleIdentifier___.___VARIABLE_productName:RFC1034Identifier___</string>
			<key>Description</key>
			<string>Your new product&apos;s bundle identifier.</string>
			<key>Identifier</key>
			<string>bundleIdentifier</string>
			<key>Name</key>
			<string>Bundle Identifier</string>
			<key>Type</key>
			<string>static</string>
		</dict>
	</array>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.macosx</string>
	</array>
	<key>Project</key>
	<dict>
		<key>BasedOn</key>
		<dict>
			<key>Debug</key>
			<string>../platform/Debug.xcconfig</string>
			<key>Release</key>
			<string>../platform/Release.xcconfig</string>
		</dict>
		<key>Configurations</key>
		<dict>
			<key>Debug</key>
			<dict/>
			<key>Release</key>
			<dict/>
		</dict>
	</dict>
	<key>Targets</key>
	<array>
		<dict>
			<key>BuildPhases</key>
			<array>
				<dict>
					<key>Class</key>
					<string>Sources</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>Frameworks</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>Resources</string>
				</dict>
			</array>
			<key>Name</key>
			<string>___PACKAGENAME___</string>
			<key>ProductType</key>
			<string>com.apple.product-type.application</string>
		</dict>
	</array>
</dict>
</plist>
