ARCHS				= i386
ONLY_ACTIVE_ARCH	= YES
SDKROOT				= macosx
PRODUCT_NAME		= $(TARGET_NAME)

DEBUG_INFORMATION_FORMAT = dwarf
MACOSX_DEPLOYMENT_TARGET = 10.7

HEADER_SEARCH_PATHS	= $(POTION)/include $(BOOST) $(FREETYPE) $(UTF8) $(PUGIXML) $(LIBRARIES)
LIBRARY_SEARCH_PATHS= $(POTION)
USER_HEADER_SEARCH_PATHS = $(POTION)

OTHER_LDFLAGS		= $(LIBRARIES_CMD) $(FRAMEWORKS_CMD)
COPY_PHASE_STRIP	= NO

GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PREFIX_HEADER	= platform/main.pch
INFOPLIST_FILE		= platform/main.plist

GCC_PREPROCESSOR_DEFINITIONS = $(inherited) DEBUG
GCC_OPTIMIZATION_LEVEL = 0
GCC_WARN_CHECK_SWITCH_STATEMENTS = NO
GCC_KEEP_PRIVATE_EXTERNS = YES
GCC_INLINES_ARE_PRIVATE_EXTERN = YES
GCC_SYMBOLS_PRIVATE_EXTERN = YES

LIBRARIES			= /pocode/libraries
POTION				= $(LIBRARIES)/pocode
BOOST				= $(LIBRARIES)/Boost/boost_1_49_0
FREETYPE			= $(LIBRARIES)/FreeType
UTF8				= $(LIBRARIES)/utf8
PUGIXML				= $(LIBRARIES)/pugixml
LIBRARIES_CMD		= -lpocode_d
FRAMEWORKS_CMD		= -framework Cocoa -framework ApplicationServices -framework OpenGL -framework CoreVideo -framework QTKit
