ARCHS				= $(NATIVE_ARCH_ACTUAL)
ONLY_ACTIVE_ARCH	= YES
SDKROOT				= macosx
DEBUG_INFORMATION_FORMAT = dwarf
GCC_VERSION			= com.apple.compilers.llvm.clang.1_0
COPY_PHASE_STRIP	= NO
MACOSX_DEPLOYMENT_TARGET = 10.6
LIBRARY_SEARCH_PATHS= $(BOOSTL) $(FREEIMAGE) $(TINYXPATH) $(FREETYPE) $(MIKKO)
OTHER_LDFLAGS		= $(BOOST_LIBS_CMD) $(LIBRARIES_CMD) $(FRAMEWORKS_CMD)
INFOPLIST_FILE		= CocoaImpl.plist
PRODUCT_NAME		= $(TARGET_NAME)
ALWAYS_SEARCH_USER_PATHS = NO
HEADER_SEARCH_PATHS	= $(BOOST) $(FREEIMAGE) $(TINYXPATH) $(FREETYPE) $(UTF8) $(MIKKO)
USER_HEADER_SEARCH_PATHS = $(HEADERS)
GCC_OPTIMIZATION_LEVEL = 0
GCC_SYMBOLS_PRIVATE_EXTERN = NO
GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PREFIX_HEADER	= CocoaImpl.pch
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) DEBUG TIXML_USE_STL
GCC_WARN_CHECK_SWITCH_STATEMENTS = NO

HEADERS				= /Potion/poFramework/poFramework4/source
LIBRARIES			= /Potion/libraries
BOOST				= $(LIBRARIES)/Boost/boost_1_45_0
BOOSTL				= $(BOOST)/stage/lib
FREEIMAGE			= $(LIBRARIES)/FreeImage
TINYXPATH			= $(LIBRARIES)/TinyXPath
FREETYPE			= $(LIBRARIES)/FreeType
UTF8				= $(LIBRARIES)/utf8
MIKKO				= $(LIBRARIES)/libMikko
BOOST_LIBS_CMD		= -lboost_date_time-clang-darwin20-mt-d-1_45 -lboost_filesystem-clang-darwin20-mt-d-1_45 -lboost_system-clang-darwin20-mt-d-1_45 -lboost_thread-clang-darwin20-mt-d-1_45
LIBRARIES_CMD		= -lfreeimage-clang -ltinyxpath_d -lfreetype_clang_d -lMikko_d
FRAMEWORKS_CMD		= -framework Cocoa -framework ApplicationServices -framework OpenGL -framework CoreVideo