ARCHS				= $(NATIVE_ARCH_ACTUAL)
ONLY_ACTIVE_ARCH	= YES
SDKROOT				= macosx10.6
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
GCC_VERSION			= com.apple.compilers.llvm.clang.1_0
MACOSX_DEPLOYMENT_TARGET = 10.6
LIBRARY_SEARCH_PATHS= $(BOOSTL) $(FREEIMAGE) $(TINYXPATH)
OTHER_LDFLAGS		= $(LIBRARIES_CMD) $(FRAMEWORKS_CMD)
INFOPLIST_FILE		= CocoaImpl.plist
PRODUCT_NAME		= $(TARGET_NAME)
ALWAYS_SEARCH_USER_PATHS = NO
HEADER_SEARCH_PATHS	= $(BOOST) $(FREEIMAGE) $(TINYXPATH)
USER_HEADER_SEARCH_PATHS = $(HEADERS)
GCC_DYNAMIC_NO_PIC	= YES
GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PREFIX_HEADER	= CocoaImpl.pch
GCC_WARN_CHECK_SWITCH_STATEMENTS = NO
GCC_PREPROCESSOR_DEFINITIONS = TIXML_USE_STL

HEADERS				= /Potion/poFramework/poFramework4/source
LIBRARIES			= /Potion/libraries
BOOST				= $(LIBRARIES)/Boost/boost_1_45_0
BOOSTL				= $(BOOST)/stage/lib
FREEIMAGE			= $(LIBRARIES)/FreeImage/Dist
TINYXPATH			= $(LIBRARIES)/TinyXPath
LIBRARIES_CMD		= -lboost_date_time-clang-darwin20-mt-1_45 -lboost_filesystem-clang-darwin20-mt-1_45 -lboost_system-clang-darwin20-mt-1_45 -lboost_thread-clang-darwin20-mt-1_45 -lfreeimage-clang -ltinyxpath
FRAMEWORKS_CMD		= -framework Cocoa -framework ApplicationServices -framework OpenGL -framework CoreVideo