ARCHS		= $(ARCHS_UNIVERSAL_IPHONE_OS)
VALID_ARCHS = armv7 i386
IPHONEOS_DEPLOYMENT_TARGET   = 5.1
SDKROOT	= iphoneos
SUPPORTED_PLATFORMS = iphoneos iphonesimulator
ONLY_ACTIVE_ARCH	= NO

DEBUG_INFORMATION_FORMAT = dwarf
COPY_PHASE_STRIP	= NO
OTHER_LDFLAGS		= $(LIBRARIES_CMD) $(FRAMEWORKS_CMD)
ALWAYS_SEARCH_USER_PATHS = NO
LIBRARY_SEARCH_PATHS= $(BOOSTL) $(FREEIMAGE) $(FREETYPE) $(BZ2) $(CURL) $(SSL)

HEADER_SEARCH_PATHS	= $(BOOST) $(FREEIMAGE) $(FREETYPE) $(UTF8) $(BZ2) $(CURL) $(SSL) $(LIBRARIES)
USER_HEADER_SEARCH_PATHS = $(HEADERS)

DSTROOT = /pocode/libraries/pocode
DEPLOYMENT_LOCATION = YES
DEPLOYMENT_POSTPROCESSING = YES
INSTALL_PATH = /
PUBLIC_HEADERS_FOLDER_PATH = /include

GCC_OPTIMIZATION_LEVEL = s
GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PREFIX_HEADER	= main.pch
GCC_PREPROCESSOR_DEFINITIONS = DEBUG=1 $(inherited) $(inherited)
GCC_WARN_CHECK_SWITCH_STATEMENTS = YES
GCC_SYMBOLS_PRIVATE_EXTERN = YES

HEADERS				= /pocode/source
LIBRARIES			= /pocode/libraries
BOOST				= $(LIBRARIES)/Boost/boost_1_49_0
BOOSTL				= $(BOOST)/stage/lib
FREEIMAGE			= $(LIBRARIES)/FreeImage
FREETYPE			= $(LIBRARIES)/FreeType
UTF8				= $(LIBRARIES)/utf8
BZ2					= $(LIBRARIES)/bz2
CURL                = $(LIBRARIES)/libcurl/ios
CURL                = $(LIBRARIES)/libcurl/ios
SSL                 = $(LIBRARIES)/libssl/ios
LIBRARIES_CMD		= -lboost_ios -lfreeimage_ios -lfreetype_ios -lbz2 -lcurl_ios -lssl -lcrypto
FRAMEWORKS_CMD		= -framework Cocoa -framework ApplicationServices -framework OpenGLES -framework CoreVideo -framework QTKit