ARCHS				= i386
ONLY_ACTIVE_ARCH	= YES
SDKROOT				= macosx10.7
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
MACOSX_DEPLOYMENT_TARGET = 10.7
LIBRARY_SEARCH_PATHS= $(BOOSTL) $(FREEIMAGE) $(FREETYPE) $(BZ2) $(CURL) $(SSL) $(FFMPEG)/osx
OTHER_LDFLAGS		= $(LIBRARIES_CMD) $(FRAMEWORKS_CMD)
PRODUCT_NAME		= pocode
ALWAYS_SEARCH_USER_PATHS = NO
HEADER_SEARCH_PATHS	= $(BOOST) $(FREEIMAGE) $(FREETYPE) $(UTF8) $(BZ2) $(JSON) $(CURL) $(SSL) $(FFMPEG)/include $(LIBRARIES)
USER_HEADER_SEARCH_PATHS = $(HEADERS)

DSTROOT = /pocode/libraries/pocode
DEPLOYMENT_LOCATION = YES
DEPLOYMENT_POSTPROCESSING = YES
INSTALL_PATH = /
PUBLIC_HEADERS_FOLDER_PATH = /include

GCC_DYNAMIC_NO_PIC	= YES
GCC_OPTIMIZATION_LEVEL = s
GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PREFIX_HEADER	= main.pch
GCC_WARN_CHECK_SWITCH_STATEMENTS = NO
GCC_PREPROCESSOR_DEFINITIONS = $(inherited)
GCC_SYMBOLS_PRIVATE_EXTERN = YES

HEADERS				= /pocode/source
LIBRARIES			= /pocode/libraries
BOOST				= $(LIBRARIES)/Boost/boost_1_54_0
BOOSTL				= $(BOOST)/osx
FREEIMAGE			= $(LIBRARIES)/FreeImage
FREETYPE			= $(LIBRARIES)/FreeType
UTF8				= $(LIBRARIES)/utf8
BZ2					= $(LIBRARIES)/bz2
JSON                = $(LIBRARIES)/jsoncpp/
CURL                = $(LIBRARIES)/libcurl/osx
SSL                 = $(LIBRARIES)/libssl/osx
FFMPEG				= $(LIBRARIES)/ffmpeg
LIBRARIES_CMD		= -lboost_date_time -lboost_filesystem -lboost_regex -lboost_system -lboost_thread  -lboost_python -lfreeimage -lfreetype -lbz2 -lssl -lcrypto -lcurl -lavutil -lavcodec -lavformat -lswscale -lswresample
FRAMEWORKS_CMD		= -framework Cocoa -framework ApplicationServices -framework OpenGL -framework OpenAL
